<div class="container p-3" style="background-color: #347ad1; color: white; height: 150px; justify-content: center; border-radius: 10px; ">
    <div class="row">
        <div class="col">
            <h3>Good Day Staff,</h3>
            <h1 style="margin-top: -15px;">Marites</h1>
        </div>
        <div class="col text-end">
            <h2>5:38 PM</h2>
            <h3 style="margin-top: -15px;">Monday - August 19, 2024</h3>
        </div>
    </div>
</div>

<div class="containerw-100 justify-content-between">
    <p></p>
    <div class="row">
        <div class="col-sm-6">
            <app-receiving></app-receiving>
        </div>
        <div class="col-sm-6">
            <app-releasing></app-releasing>
        </div>
    </div>
</div>
